COMPOSE_PROJECT_NAME=boardgame_rental_system

NEXT_PUBLIC_API_ENDPOINT=http://localhost:3000/api

APP_ID=boardgame_rental_system
APP_URL=http://localhost:3000
APP_NAME='Brettspiel Verleih System'

# Secret for the Scheduler Endpoint
CRON_SECRET=your_scheduler_secret

# Postgres server
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=db
POSTGRES_PORT=5432

# Postgres connection
DB_HOST=localhost
DB_PORT=${POSTGRES_DB}
DB_SCHEMA=db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=${DB_SCHEMA}&sslmode=prefer

# Mailing configuration
MAIL_FROM_EMAIL=noreply@your_domain.de
MAIL_FROM_NAME='Brettspiel Verleih System'
MAIL_HOST=mail_host
MAIL_PASSWORD=mail_password
MAIL_PORT=mail_port
MAIL_USER=info@your_domain.de

# Next Auth  
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_secret
